.box{
  border: 3px solid black;
  padding: 25px;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(138, 135, 135);
}
.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: #fff;
  padding: 30px;
}
.display{
  font-size: 5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: rgb(97, 93, 93);
  text-shadow: 2px 2px 2px rgb(90, 88, 88);
  margin-bottom: 25px;
}
.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}
.start-btn{
  background-color: green;
}
.start-btn:hover{
  background-color: rgb(84, 155, 84);
}
.stop-btn{
  background-color: red;
}
.stop-btn:hover{
  background-color: rgb(226, 132, 132);
}
.reset-btn{
  background-color: blue;
}
.reset-btn:hover{
  background-color: rgb(166, 166, 228);
}
